<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador">
    <select id="obtenerColaborador" resultType="pojo.Colaborador">
        SELECT c.idColaborador, c.nombre, c.apellidoPaterno, c.apellidoMaterno, c.numeroPersonal, c.correo, c.curp, c.idRol, c.numeroLicencia, c.contraseña, r.nombre AS rol 
        FROM colaborador c 
        JOIN rol r ON c.idRol = r.idRol ;
    </select>
    
    <select id= "obtenerRoles" resultType="pojo.Rol">
        SELECT idRol, nombre  
        FROM rol
    </select>
    
    <insert id ="registrarColaborador" parameterType="pojo.Colaborador">
        INSERT INTO colaborador (nombre, apellidoPaterno, apellidoMaterno, 
        numeroPersonal, correo, curp, contraseña, idRol, numeroLicencia)
        VALUES (#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, 
        #{numeroPersonal}, #{correo}, #{curp}, #{contraseña}, #{idRol}, #{numeroLicencia}) 
    </insert>
    
    <update id="editarColaborador" parameterType="pojo.Colaborador"> 
        UPDATE colaborador
        SET nombre = #{nombre}, 
            apellidoPaterno = #{apellidoPaterno}, 
            apellidoMaterno = #{apellidoMaterno}, 
            correo = #{correo}, 
            curp = #{curp}, 
            contraseña = #{contraseña}, 
            idRol = #{idRol},
            numeroLicencia = #{numeroLicencia}
        WHERE idColaborador = #{idColaborador}
    </update>
    
    <select id= "idColaborador" resultType="pojo.Colaborador">
        SELECT idColaborador FROM colaborador WHERE idColaborador = #{idColaborador};
    </select>
    
    <delete id="eliminarColaborador" parameterType="pojo.Colaborador">
        DELETE FROM colaborador
        WHERE idColaborador = #{idColaborador}
    </delete>
    
    <select id="obtenerColaboradorPorCorreo" resultType="pojo.Colaborador">
        SELECT * FROM colaborador WHERE correo = #{correo}
    </select>

    <select id="obtenerColaboradorPorCURP" resultType="pojo.Colaborador">
        SELECT * FROM colaborador WHERE curp = #{curp}
    </select>
    
    <select id="obtenerColaboradorPorNumeroPersonal" resultType="pojo.Colaborador">
        SELECT * FROM colaborador WHERE numeroPersonal = #{numeroPersonal}
    </select>

    <select id="obtenerColaboradorPorNumeroLicencia" resultType="pojo.Colaborador">
        SELECT * FROM colaborador WHERE numeroLicencia = #{numeroLicencia}
    </select>
    
</mapper>
